*{
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html, body{
	padding: 0;
	margin: 0;
}

ul, li {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: #444;
}

// Variables
$text-color: #0060a9;
$bg-color: #f2f2f2;

// Mixins
@mixin grid-content(){
	h2 {
			color: $text-color;
			position: relative;
			z-index: 1;
		}
		
		p {
			position: relative;
			z-index: 1;
			max-width: 200px;
		}
}

@mixin mobile-menu() {
  font-size: 0;
  width: 24px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  line-height: 50px;
  margin: auto;
  position: relative;
  background: currentColor;
}

@mixin transition() {
  transition: all .2s ease;
}




// CSS Begins
.utili-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
	padding: 10px 10%;
}

.utili-bar-link {
	display: flex;
	> a {
		height: 16px;
		padding: 0 10px;
		border-right: 1px solid #444;
		
		> div {
			font-size: 13px;
			line-height: 16px;
		}
	}
}

// Header
header {
	display: flex;
	padding: 20px 10%;
	border-bottom: 1px solid #f2f2f2;
	
	.logo {
		padding-right: 20px;
	}
	
	.logo img{
		width: 200px;
	}
	
	.nav {
		display: flex;
		align-items: center;		
	}
	
	.nav > a {
		padding: 0 10px;
		color: $text-color;
		font-size: 14px;
		
	}
}

// Banner
.banner {
	
	img {
		width: 100%;
		overflow: hidden;
	}
}

// ========== Main ==========
main {
	width: 1020px;
	max-width: 1020px;
	min-width: 1020px;
	margin: 0 auto 30px;
	// padding: 0 10%;
}

// Main - header

.header {
	text-align: center;
	h1 {
		font-size: 32px;
	}
}

.grid {
	width: 100%;
	height: 600px;
	// background: $bg-color;
	display: flex;
	justify-content: center;
}

.flex-left {
	display: flex;
	flex-direction: column;
	flex: 2;
	
	.flex-top {
		position: relative;
		overflow: hidden;
		flex: 1;
		border: 10px solid #fff;
		border-left: 0;
		padding-left: 20px;
		
		
		img {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 0;
			width: 100%;
		}
		
		@include grid-content;
		
	}
	
}

// Grid-left-bottom
.flex-bot {
	display: flex;
	flex: 1;
	
	> div {
		border: 10px solid #fff;
	}
	
	.flex-bot-child {
		flex: 1;
		overflow: hidden;
		position: relative;
		padding-left: 20px;
		
		img {
			position: absolute;
			bottom: -130px;
			right: -170px;

		}
		
		@include grid-content;
	}	
}
	
.flex-bot-child:nth-child(1) {
	border-left: 0;
}


.flex-right {
	position: relative;
	overflow: hidden;
	flex: 1;
	border: 10px solid #fff;
	border-right: 0;
	padding-left: 20px;
	
	img {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	
	@include grid-content;
}

.service {
	flex-wrap: wrap;
	height: auto;
	
	.service-item {
		width: 33%;
		position: relative;
		overflow: hidden;
		outline: 1px solid #dfdfdf;
	}
	
	.service-item img {
    // position: absolute;
    // bottom: 0px;
    // right: -20px;
    // width: 110%;
		width: 100%;
    display: block;
	}
}

footer {
	margin-top: 60px;
	background-color: $bg-color;
}

.footer-container {
	width: 80%;
	// height: 300px;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
}

.footer-col {
	// width: 18%;
	flex: 1;
	margin-right: 20px;

	
	h3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #444;
    border-bottom: 1px solid #444;
	}
	
	ul {
		display: inline-block;
		vertical-align: top;
		margin-right: 30px;
	}
	
	ul li {
		color: #444;
		padding-bottom: 5px;
		font-size: 14px;
	}
}

.footer-col-products {
	flex: 2;
}

.copyrihgt {
	padding: 20px 0;
	
	h3 {
		text-align: center;
    font-size: 12px;
    color: #444;
    font-weight: 300;
	}
}

.copyright {
	padding: 20px 0;
	
	h3 {
		color: #444;
		text-align: center;
		font-size: 12px;
		font-weight: normal;
	}
	
}


// ========== Responsive ==========
@media screen and (max-width: 1020px) {

	header {
		padding: 20px 5%;
		
		.logo img{
			width: 100px;
		}
	}

	.utili-bar {
		padding: 10px 5%;
	}
	
	main {
		width: 900px;
		max-width: 900px;
		min-width: 900px;
		// padding: 0 5%;
	}
	

}

@media screen and (max-width: 900px) {

	main {
		width: 780px;
		max-width: 780px;
		min-width: 780px;
		// padding: 0 5%;
	}
	
	
}

@media screen and (max-width: 780px) {

	main {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		padding: 0 30px;
	}
	
	.grid {
		flex-direction: column;
		height: auto;
	}
	
	.flex-bot {
		flex-direction: column;
		> div {
			border: 10px solid #fff;
    	border-left: 0;
		}
		
		.flex-bot-child img {
			right: 0px;
			width: 100%;
			bottom: -30px;
			
		}
	}
	
	.flex-right {
		border-left: 0;
		border-right: 10px solid #fff;
		
		img {
			width: 100%;
		}
	}
	
	.service {
		flex-direction: row;
		
		.service .service-item {
			width: 50%;
		}
	}
	
	.utili-bar {
		display: none;
	}
	
	header {
		justify-content: center;
		border-bottom: 1px solid #f2f2f2;
		margin-bottom: 20px;
		
		.logo {
			
			.mobile {
				display: block;
				position: absolute;
				top: 30px;
				left: 20px;
			}
		}
		
		.logo img{
			width: 200px;
		}
	
		.nav {
			display: none;
		}
	}
	
	
	
}


//  Mobile Menu
.mobile {
	display: none;
	cursor: pointer;
	
  .mobile-menu {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    color: #000;

    &:hover {
			color: #E51937;
    }

    h2 {
      @include mobile-menu();
			@include transition();
			
      &::before {
        @include mobile-menu();
        content: '';
        position: absolute;
        top: -9px;
      }
      &::after {
        @include mobile-menu();
        content: '';
        position: absolute;
        top: 9px;
      }
    }
  }
}