utili-bar
	span.lang
		img(src="https://www.costcophotocenter.com/images/home/us.png", alt="")
	span.utili-bar-link
		a(href='')
			.sing-in Sing In
		a(href='')
			.create Create
		a(href='')
			.order Order Status
		a(href='')
			.help Help
		a(href='')
			.help Contact Us
		a(href="")
			.back Back to Costco.com
		
header 
	.logo
		img(src='https://www.costcophotocenter.com/dynamic/en-US/popup/logo')
	.nav
		a(href='')
			.my-photo My Photos
		a(href='')
			.my-project My Projects
		a(href='')
			.my-project Photo Books
		a(href='')
			.my-project Canvas Prints
		a(href='')
			.my-project Metal Prints
		a(href='')
			.my-project Greeting Cards
		a(href='')
			.my-project Wall Decor
		a(href='')
			.my-project Photo Gifts
		
banner
	img(src='https://www.costcophotocenter.com/dynamic/en-us/home/hero/banner0')
	
	
main
	section.top-selling
		.header
			h1 Top Selling Photo Gifts
	
		.top-selling.grid
			.flex.flex-left
				.flex-top
					img(src='https://www.costcophotocenter.com/dynamic/en-us/home/producttile/tile1')
					h2 Photo Books
					p Showcase your favorite memories in a unique photo book.
					p From $17.99
					
					
				.flex-bot
					.flex-bot-child
						img(src='https://www.costcophotocenter.com/dynamic/en-us/home/producttile/tile3')
						h2 Photo Books
						p Showcase your favorite memories in a unique photo book.
						p From $17.99
					.flex-bot-child
						img(src="https://www.costcophotocenter.com/dynamic/en-us/home/producttile/tile4")
						h2 Photo Books
						p Showcase your favorite memories in a unique photo book.
						p From $17.99
						
			.flex.flex-right
				img(src="https://www.costcophotocenter.com/dynamic/en-us/home/producttile/tile2")
				h2 Photo Books
				p Showcase your favorite memories in a unique photo book.
				p From $17.99
		
		
	
	section.service
		.header
			h1 Costco Photo Center Services
		.service.grid
			.service-item
				a(href="")
					img(src="https://www.costcophotocenter.com/dynamic/en-us/home/services/badge1", alt="")
			.service-item
				a(href="")
					img(src="https://www.costcophotocenter.com/dynamic/en-us/home/services/badge2", alt="")
			.service-item
				a(href="")
					img(src="https://www.costcophotocenter.com/dynamic/en-us/home/services/badge3", alt="")
			.service-item
				a(href="")
					img(src="https://www.costcophotocenter.com/dynamic/en-us/home/services/badge4", alt="")
			.service-item
				a(href="")
					img(src="https://www.costcophotocenter.com/dynamic/en-us/home/services/badge5", alt="")
			.service-item
				a(href="")
					img(src="https://www.costcophotocenter.com/dynamic/en-us/home/services/badge6", alt="")
			
			
footer
	.footer-container
		.footer-col
			h3 Quick Links
			ul
				li My Photos
				li My Projects
				li Shop All Products
				li Mobile App
				li Group Rooms
				li Order Status
				li Image Galleries
				li Help
				
		.footer-col
			h3 About Costco
			ul
				li Contact Us
				li Pricing
				li Storage Policy
				li Privacy
				li Terms and Conditions
				li Printer Profiles



		.footer-col.footer-col-products
			h3 Products
			ul
				li Art & Image Gallery
				li Calendars
				li Canvas Prints
				li Collage Prints
				li Disney Gallery
				li Greeting Cards
			ul
				li Metal Prints
				li Mousepads
				li Mugs
				li Photo Books
				li Photo DVD
				li Photo Plaques
			ul
				li Photo Throw
				li Poster Boards
				li Scrapbook Prints
				li Sports Gallery
		
	.copyright
		h3 © 2005-2016 | Powered By PNI Media | All rights reserved.